body {
    background-color: #EDF0F9;
}
#container{
    text-align: left;
    padding: 0;
    margin: 0 auto;
    font-family: "Trebuchet MS", "Myriad Pro",Arial,sans-serif;
}
#wrapper{
    min-height: 560px;
    margin: 0 auto;
    width: 500px;
}
#wrapper h1{
    font-size: 32px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
#wrapper h1 a{
    color: inherit;
    text-decoration: none;
}
#wrapper p{
    margin-bottom: 15px;
}
#wrapper label{
    color: rgb(64, 92, 96);
    display: block;
}
#wrapper p.button input{
    width: 100px;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 18px;
    border: 1px solid rgb(28, 108, 122);
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#wrapper input{
    padding: 10px 5px 10px 15px;
    width: 95.5%;
}
#wrapper select{
    padding: 10px 5px 10px 15px;
    width: 100%;
}
#wrapper p.button input:hover{
    background: rgb(74, 179, 198);
}
.right{
    float: right;
}
.error{
    border: 1px solid red;
}
